<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
    <form action="/eyatoo/addDoctorCommunity" method="post" enctype="multipart/form-data">
        <!--VALUES-->
        <!--(null,-->
        <!--#{doctorId},-->
        <!--#{doctorName},-->
        <!--#{doctorAvator},-->
        <!--#{title},-->
        <!--#{pictureA},-->
        <!--#{pictureB},-->
        <!--#{pictureC},-->
        <!--#{pictureD},-->
        <!--#{pictureE},-->
        <!--#{contentA},-->
        <!--#{contentB},-->
        <!--#{contentC},-->
        <!--#{contentD},-->
        <!--#{projectTagId}-->
        <!--);-->
    <input type="text" name="doctorId">
    <input type="text" name="title">
    <input type="text" name="contentA">
        <input type="text" name="contentB">
        <input type="text" name="contentC">
        <input type="text" name="contentD">
        <input type="text" name="projectTagId">
    <input type="text" name="pictureA"><input type="text" name="pictureB">
    <input type="submit" value="提交">
    </form>
</body>
</html>
</html>