<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eyatoo.dao.AgentOnditionDao">


    <select id="getAgentOnditionBy" resultType="AgentOndition">
         SELECT * FROM agent_ondition WHERE agent_level = #{level}
	</select>
</mapper>