<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eyatoo.dao.UserAddressDao">

   <insert id="userAddAddress" parameterType="UserAddress">
        INSERT INTO eyatoo.user_address
            (user_id,
            user_name,
            user_phone,
            doctor_id,
            doctor_name,
            doctor_phone,
            region_address,
            detailed_address
            )
            VALUES
            (#{userId},
            #{userName},
            #{userPhone},
            #{doctorId},
            #{doctorName},
            #{doctorPhone},
            #{regionAddress},
            #{detailedAddress}
            );
   </insert>


    <update id="userUpdateAddress">
                UPDATE eyatoo.user_address
                    <trim prefix="set" suffixOverrides=",">
                        <if test="userId != 0 and userId != null">user_id = #{userId} ,</if>
                        <if test="userPhone !=0 and userPhone != null">user_phone = #{userPhone},</if>
                        <if test="userName != null and userName != ''">user_name = #{userName},</if>
                        <if test="doctorName != null and doctorName !=''">doctor_name = #{doctorName},</if>
                        <if test="doctorId !=0 and doctorId != null">doctor_id = #{doctorId},</if>
                        <if test="doctorPhone !=0 and doctorPhone != null">doctor_phone = #{doctorPhone},</if>
                        <if test="regionAddress != null">region_address = #{regionAddress} ,</if>
                        <if test="detailedAddress != null">detailed_address = #{detailedAddress},</if>
                    </trim>
                    WHERE
                    id = #{id} ;
    </update>

    <delete id="userDelAddress">
          DELETE FROM eyatoo.user_address WHERE id = #{id}
    </delete>

    <select id="getOneUserAddresses" resultType="UserAddress">
          SELECT * FROM eyatoo.user_address WHERE user_id = #{userId}
    </select>

    <select id="getOneAddress" resultType="UserAddress">
         SELECT * FROM eyatoo.user_address WHERE id = #{id}
    </select>

    <select id="getOneDoctorAddresses" resultType="UserAddress">
          SELECT * FROM eyatoo.user_address WHERE doctor_id = #{doctorId}
    </select>
</mapper>